/* .navbar {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    background-color: white;
    height: 60px;
    align-items: center;
    border-bottom: 7px solid purple;
}

.navbar-left {
    display: flex;
}

.navbar-center {
    display: flex;
}

.navbar-right {
    display: flex;
}

li {
    list-style: none;
    padding: 10px;
}

li:hover {
    background-color: rgb(238, 223, 13);
}

 .active {
   color: purple;
    background-color: rgb(238, 231, 13);
} */